#pagination-div
{
    display: flex;
    justify-content: center;
}

iframe{
    height:450px;
    width:550px;
}

#buttons-div
{
    display: flex;
    /* align-items: center; */
    justify-content: center;

}

#pagination-id{
    position: absolute;
    left: 23vh;
}


#buttons-div{
    position: absolute;
    top: 67vh;
    left: 57vh;
}